@charset "UTF-8";
/* ==========================================================================
* Кнопки
* ========================================================================== */

.button{
	display: inline-block;
	border: 0;
	outline: none;
	text-align: center;
	text-decoration: none;
	padding: 0;	
	
	transition: all .3s;
	line-height: 1;

	font-family: $mainFontFamily;

	cursor: pointer;

	&:disabled{
		background: #ccc;
		cursor: default;
		&:hover{
			background: #ccc;
		}
	}


	&--color{
		background: #000;
		color: #fff;
		&:hover{
			background: lighten(#000, 5%);
		}
		&:active{
			background: darken(#000, 5%);
		}
	}

	&--play{
		background-color: transparent;
		@include sprite($play);
		text-indent: -9999px;
		text-align: center;
		opacity: .95;
		&:hover{

			opacity: 1;
		}
		&:active{
			
		}
	}

	&--professions{
		background-color: transparent;
		@include sprite($button-professions);
		font-size: 48px;
		font-family: $pribambas;
		text-align: center;
		color: #fff;
		opacity: .95;
		padding: 15px 0 0;
		&:hover{
			opacity: .9;
		}
		&:active{
			
		}
	}

	&--contest{
		background-color: transparent;
		@include sprite($button-contest);
		font-size: 48px;
		font-family: $pribambas;
		text-align: center;
		color: #fff;
		opacity: .95;
		padding: 16px 0 0;
		&:hover{
			opacity: .9;
		}
		&:active{
			
		}
	}

	&--watch{
		background-color: transparent;
		@include sprite($button-watch);
		font-size: 48px;
		font-family: $pribambas;
		text-align: center;
		color: #fff;
		opacity: .95;
		padding: 16px 0 0;
		&:hover{
			opacity: .9;
		}
		&:active{
			
		}
	}

	&--more{
		background-color: transparent;
		@include sprite($button-more);
		font-size: 21px;
		font-family: $pribambas;
		text-align: center;
		color: #fff;
		opacity: .95;
		padding: 10px 0 0;
		&:hover{
			opacity: .9;
		}
		&:active{
			
		}
	}


	&--constructor{
		background-color: transparent;
		@include sprite($button-constructor);
		font-size: 21px;
		font-family: $pribambas;
		text-align: center;
		color: #fff;
		opacity: .95;
		padding: 6px 0 0;
		&:hover{
			opacity: .9;
		}
		&:active{
			
		}
	}

	&--arrow-back{
		background: #fdb617;
		color: #fff;
		font-size: 18px;
		color: $text;
		padding: 15px 15px 0px 10px;
		height: 46px;
		position: relative;
		&:before{
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 23px 10px 23px 0;
			border-color: transparent #fdb617 transparent transparent;
			position: absolute;
			top: 0;
			right: 100%;
			transition: all .2s;
		}
		&:hover{
			background: lighten(#fdb617, 5%);
			&:before{
				border-right-color: lighten(#fdb617, 5%);
			}
		}
		&:active{
			background: darken(#fdb617, 5%);
			&:before{
				border-right-color: darken(#fdb617, 5%);
			}
		}
	}

	&--m{
		border-radius: 8px;
		font-weight: 700;
		font-size: 12px;
		padding: 8px 20px 8px;
	}

	&--l{
		border-radius: 8px;
		font-weight: 700;
		font-size: 15px;
		padding: 10px 20px 10px;
	}

	&--block{
		width: 100%;	
		padding-left: 0;
		padding-right: 0;
	}


}

/* ==========================================================================
* Формы
* ========================================================================== */

.form{

	@include clearfix;

	&__line{
		@include clearfix;
		margin-bottom: 16px;
	}

	&__input-placeholder{
		position: relative;
		margin-bottom: 16px;

		&--inline{
			width: 48%;
			float: right;
			margin-bottom: 0;
			&:first-child{
				float: left;
			}
		}
	}

	label.error{
		font-size: 13px;
		color: #ef6d51;
		//position: absolute;
		//top: -13px;
		//right: 0;
		//margin-left: 0;
		//padding: 5px;
		//text-align: center;
		//white-space: nowrap;
		///color: #fff;
		///border-radius: 5px;
		//background: #000;
		//background: rgba(0, 0, 0, .7);
	}

	&__button-placeholder{
		margin-top: 20px;
	}

	&__input,
	&__textarea{
		-webkit-appearance: none;
		padding: 0 0 0 20px;
		width: 100%;
		outline: none;
		border: 1px solid #d7d7d7;
		max-width: 100%;
		font-size: 15px;
		font-family: $mainFontFamily;
		background: #f6f5f1;
		border-radius: 5px;
		box-shadow: inset 0 2px 3px rgba(0,0,0,.13); 
		&.error{
			border-color: #ef6d51;
		}
	}
	&__input{
		&--h40{
			height: 40px;
			line-height: 40px;
		}
	}
	&__textarea{
		padding-top: 10px;
		height: 210px;
		&--h120{
			height: 120px;
		}
	}
}


/* ==========================================================================
 * checkbox
 * ========================================================================== */

.checkbox{
	display: inline-block;
	position: relative;

	&__input{
		margin: -2px 0 0;

	}
}

/* ==========================================================================
 * select
 * ========================================================================== */

.select{
	border: 1px solid #d4d3cf;
	border-radius: 3px;
	background: #fff;
	text-align: left;
	overflow: hidden;
	position: relative;
	height: 43px;

	&:before{
		content: '';
		position: absolute;
		top: 0;
		right: 15px;
		bottom: 0;
		margin: auto;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 8px 4px 0 4px;
		border-color: #d4d3cf transparent transparent transparent;
	}

	&__select-placeholder{
		position: absolute;
		top: 0;
		left: 0;
		right: -50px;
		bottom: 0;		
	}

	&__select{
		-webkit-appearance: none;
		border: 0;
		background: transparent;	
		font-size: 18px;
		font-family: $mainFontFamily;
		line-height: 43px;
		height: 43px;
		padding: 0 60px 0 20px;
		width: 100%;
		outline: none;
	}
}
