@charset "UTF-8";
/* ==========================================================================
 * Layout
 * ========================================================================== */

.container{
	overflow: hidden;
	position: relative;

	&__section{
		
	}

	&__wrap{
		@include clearfix;
		width: 1200px;
		padding: 0 20px;
	}
}

/* ==========================================================================
 * main
 * ========================================================================== */


 
